.jngl__home {
    padding: 24px;
    color: rgba(136,122,210,1);
    color: rgba(24, 23, 37, 1);
    //comments are cool
    background-color: rgba(250, 250, 251, 1);
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
