.jngl__test {
    padding: 1.714em;
    color: rgba(219,113,107,1);
    //comments are cool
}

.jngl__test h2 {
  font-size: 1.286em;
  padding: .571em 0;
}

.jngl__test ul {
  padding: 0 0 .571em 0;
}
